ALFRED_UNISWAP_API_KEY=
ALFRED_RPC_URL=https://forno.celo.org
ALFRED_PRIVATE_KEY=
ALFRED_WALLET_ADDRESS=
ALFRED_USDT_ADDRESS=0x48065fbBE25f71C9282ddf5e1cD6D6A887483D5e
ALFRED_NGNM_ADDRESS=0x456a3D042C0DbD3db53D5489e98dFb038553B0d0
ALFRED_USDT_DECIMALS=6
ALFRED_NGNM_DECIMALS=18
